// Place all the styles related to the hello controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Place all the styles related to the nekos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.hello_all{
   background-color: #ffc99d9c;
}


  .first-block {
    height: 920px;
    background-color: #f5f4ee;
    background-image: url(event1.png);
    background-size:cover;
    background-size: 100%;
    background-position: right;
    background-repeat: no-repeat;
    font-size: 250%;
  }
  
  .first-block h3 {
    margin-left: 100px;
  }
  

  .second-block {
    height: 500px;
    color: #000066; 
    background-image: url(bg4.jpg);
    text-align: center;
  
    font-size: 1.5em;
    font-size: 140%;
    padding-top: 130px;
    line-height: 2.0; 
    h5 { font-size: 220% }
  }



.third_forth{
  text-align: center;
  width: 100%;
  height: auto;
}


  .third-block {
    height: 800px;
    background-image: url(bg4.jpg);
    text-align: center;
    padding-top: 200px;
    display: flex;
  }
  .ttl_kana1 {
    font-size: 200%;
    color: #888;
    margin-left: 30%;
    margin-top: 400px;
    }

  .header_menu_top{
  width: 447px;
  height: 650px;
  border-radius: 200px;
  cursor :pointer;
  float: center;
  background-image: url('shindan.jpg');
  background-size: cover;
  padding: 5px;
  margin-left: 25%;
  margin-right: 40%;
  }

  .header_menu_top:hover{
    transform: scale(1.15);
    transition: 0.5s;
    background-color: #000066;
    color: #f5f4ee;
  }

  .ttl_1 {
    font-size: 300%;
    color: #000066;
    font-weight: bold;
    margin-left: 13%;
    margin-bottom: 500px;
    }
  

  

.forth-block {
  height: 800px;
  background-image: url(bg4.jpg);
  text-align: center;
  padding-top: 130px;
  display: flex;

}
.ttl_kana2 {
  font-size: 200%;
  color: #888;
  margin-left: 30%;
  margin-top: 400px;
}

.header_menu_top2{
width: 447px;
height: 650px;
border-radius: 200px;
cursor :pointer;
float: center;
background-image: url('quiz.jpg');
background-size: cover;
padding: 5px;
margin-left: 25%;
margin-right: 40%;
}
.header_menu_top2:hover{
  transform: scale(1.15);
  transition: 0.5s;
  background-color: #000066;
  color: #f5f4ee;
}



.ttl_2 {
  font-size: 300%;
  color: #000066;
  font-weight: bold;
  margin-left: 480%;
}


  footer{
    height: 70px;
    background-color: #1d1d1d;
  } 
  
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Shizuru&display=swap');
   first-block  {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Shizuru', cursive;
   }

   @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Zen+Kaku+Gothic+Antique:wght@700&display=swap');
 header {
  font-family: 'Montserrat', sans-serif;
font-family: 'Zen Kaku Gothic Antique', sans-serif;
  }

  @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Zen+Kaku+Gothic+Antique&display=swap');
  body {font-family: 'Montserrat', sans-serif;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;   
  }
  

  footer {
    color: #000066;
    background-color: #f5f4ee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 15px;
  }


//.hajimeru {
//  writing-mode: vertical-rl;
//}

//.hajimeru2 {
//  writing-mode: vertical-rl;
//}

//.third-block{
//  writing-mode: vertical-rl;
//}

//.fourth-block{
//  writing-mode: vertical-rl;
//}
 