// Place all the styles related to the hello controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Place all the styles related to the nekos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

  .first-block {
    height: 600px;
    background-color: #f5f4ee;
    background-image: url(event1.png);
    background-size:cover;
    background-size: 75%;
    background-position: right;
    background-repeat: no-repeat;
    font-size: 250%;
  }
  
  .first-block h3 {
    margin-left: 100px;
  }
  

  .second-block {
    height: 300px;
    color: #000066; 
    background-color: #f5f4ee;
    text-align: center;
  
    font-size: 1.5em;
    font-size: 110%;
    padding-top: 130px;
    line-height: 2.0; 
    h5 { font-size: 140% }
  }


  .third-block {
    height: 800px;
    background-color: #f5f4ee;
    text-align: center;
  
    font-size: 1.5em;
    font-size: 200%;
    padding-top: 130px;
    line-height: 2.0; 
    h5 { font-size: 140% }
  }


  .header_menu_top{
  width: 447px;
  height: 650px;
  border-radius: 200px;
  cursor :pointer;
  float: center;
  background-image: url('shindan.jpg');
  background-size: cover;
  padding: 5px;
  margin-left: 450px;
  }

  .desc {
  margin-top: 10px;
  background-color: #f5f4ee;
  }

  .ttl {
  font-size: 18px;
  color: #000066;
  font-weight: bold;
  }

  .ttl_kana {
  font-size: 14px;
  color: #888;
  }
  

.forth-block {
  height: 800px;
  background-color: #f5f4ee;
  text-align: center;

  font-size: 1.5em;
  font-size: 200%;
  padding-top: 130px;
  line-height: 2.0; 
  h5 { font-size: 140% }
}

.header_menu_top2{
width: 447px;
height: 650px;
border-radius: 200px;
cursor :pointer;
float: center;
background-image: url('quiz.jpg');
background-size: cover;
padding: 5px;
margin-left: 450px;
}

.desc2 {
  color: #000066;
  margin-top: 10px;
  }




  footer{
    height: 70px;
    background-color: #1d1d1d;
  } 
  
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Shizuru&display=swap');
   first-block  {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Shizuru', cursive;
   }

   @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Zen+Kaku+Gothic+Antique:wght@700&display=swap');
 header {
  font-family: 'Montserrat', sans-serif;
font-family: 'Zen Kaku Gothic Antique', sans-serif;
  }

  @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Zen+Kaku+Gothic+Antique&display=swap');
  body {font-family: 'Montserrat', sans-serif;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;   
  }
  

  footer {
    color: #000066;
    background-color: #f5f4ee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 15px;
  }


//.hajimeru {
//  writing-mode: vertical-rl;
//}

//.hajimeru2 {
//  writing-mode: vertical-rl;
//}

//.third-block{
//  writing-mode: vertical-rl;
//}

//.fourth-block{
//  writing-mode: vertical-rl;
//}
 